<div fxLayout="row" fxflex="40" fxHide.xs class="cont">
        <div class="card" fxLayoutAlign="start center" fxLayoutGap="2%">
            <!-- <mat-card>this is my mat card no one can touch it</mat-card> -->
            <button mat-button style="padding: 12px;">Categories
                <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
            <mat-tab-group>
                  <mat-tab label="Home"></mat-tab>
                  <mat-tab label="Top Charts"></mat-tab>
                  <mat-tab label="New Releases"></mat-tab>
                </mat-tab-group>
          </div>
          <div fxLayoutAlign="end center" fxflex="60" fxLayoutGap="2%">
              <div class="icons">
                  <button mat-button>
                          <mat-icon >help</mat-icon>
                  </button>
                     
              </div>
              <div class="icons">
                      <button mat-button>
                              <mat-icon >settings_applications</mat-icon>
                      </button>   
              </div>
             
             
          </div>
      </div>

