<div fxHide.xs>
        <mat-sidenav-container class="example-container">
                
                <div class="sideapps">
                        <p>Apps</p>
                </div>
       
                <div >
                    <p class="hov1" *ngFor="let a of sideData1">{{a}}</p>
                 </div>
                <div class="borderblog"></div>
                <div >
                    <p class="hov" *ngFor="let b of sideData2">{{b}}</p>
                </div>
                <div >
                         <p class="hov" *ngFor="let c of sideData3">{{c}}</p>
                </div>
        </mat-sidenav-container>
</div>
